<div class="publications">
  Authors are listed in alphabetical order following the traditions of theoretical computer science, unless stated otherwise.
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
